@use "../../styles/tokens" as tokens;

.dropdown-button {
  &__container {
    position: relative;
    display: inline-block;
  }

  &__chevron {
    display: inline-flex;
    align-items: center;
  }

  &__menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: tokens.$space-xs 0;
    background-color: var(--color-surface);
    border: tokens.$border-width-thin solid var(--color-on-surface);
    z-index: 100;
    overflow: hidden;
    
    &--bottom {
      bottom: auto;
      animation: dropdown-slide-in-buttom 0.15s ease-out;
    }

    &--top {
      top: auto;
      animation: dropdown-slide-in-top 0.15 ease-out;
    }

    &--shadow-sm {
      box-shadow: 2px 2px 0px 0px var(--color-on-surface);
    }

    &--shadow-md {
      box-shadow: 4px 4px 0px 0px var(--color-on-surface);
    }

    &--shadow-lg {
      box-shadow: 6px 6px 0px 0px var(--color-on-surface);
    }

    &--bottom.dropdown-button__menu--shadow-sm {
      top: calc(100% + tokens.$space-xs);
    }

    &--bottom.dropdown-button__menu--shadow-md {
      top: calc(100% + tokens.$space-sm);
    }

    &--bottom.dropdown-button__menu--shadow-lg {
      top: calc(100% + tokens.$space-md);
    }

    &--top.dropdown-button__menu--shadow-sm {
      bottom: calc(100% + tokens.$space-xs);
    }

    &--top.dropdown-button__menu--shadow-md {
      bottom: calc(100% + tokens.$space-sm);
    }

    &--top.dropdown-button__menu--shadow-lg {
      bottom: calc(100% + tokens.$space-md);
    }
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: tokens.$space-sm;
    text-align: left;

    position: relative;
    padding: tokens.$space-sm tokens.$space-lg;
    border: none;
    box-shadow: none;
    transform: none;

    text-transform: none;
    font-weight: initial;
    background-color: transparent;
    color: var(--color-on-surface);

    &:hover:not(:disabled) {
      background-color: var(--color-surface-highest);
    }

    &:active:not(:disabled) {
      background-color: var(--color-surface-high);
      transform: none;
    }
  }

  &__check {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 0.4rem;
    transform: translateY(-50%);

    font-size: 1.2rem;
    color: var(--color-primary);
  }
}

@keyframes dropdown-slide-in-buttom {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-slide-in-top {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}