@use "../../styles/tokens" as tokens;

.project-card {
  &__actions {
    display: flex;
    gap: tokens.$space-sm;
    width: 100%;
    justify-content: flex-end;
  }

    &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: tokens.$space-md;
    height: 100%;
  }

  &__description {
    line-height: 1.5;
    margin: 0;
    font-size: tokens.$font-size-md;
  }

  &__responsibilities, &__learnings {
  	list-style-type: none;
    line-height: 1.5;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: tokens.$space-xs;
  }

  &__tag-chip {
    font-family: tokens.$font-family-mono;
    font-size: tokens.$font-size-sm;
    color: tokens.$color-secondary;
    font-weight: tokens.$font-weight-bold;
  }
}