@use "../../styles/tokens" as tokens;
@use "../../styles/placeholders" as placeholders;

.projects-view {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-lg;

  max-width: 40rem;
  margin: 0 auto;
  padding: tokens.$space-2xl 0;

  &__grid {
    @extend %pixel-grid-layout;
    justify-content: center;
    
    width: 100%;
  }
}