@use "../../styles/tokens" as tokens;

.contact-view {
  display: flex;
  gap: tokens.$space-lg;

  &__form {
    min-height: 100%;
    width: 45ch;

    display: flex;
    flex-direction: column;
    gap: tokens.$space-md;
  }

  &__form-reason-input {
    flex-grow: 1;
  }

  &__form-button {
    margin-top: auto;
  }

  &__channels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: tokens.$space-md;
  }

  &__channel {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    font-family: tokens.$font-family-mono;
    font-weight: tokens.$font-weight-bold;
    color: tokens.$color-on-surface;
    background-color: tokens.$color-surface;
  }

  &__channels-label {
    border-bottom: tokens.$border-width-thin solid tokens.$color-on-surface;
    padding-bottom: tokens.$space-sm;
    margin-bottom: tokens.$space-md;
  }
}