@import '../../styles/tokens';

.contact-view {
  display: flex;
  gap: $space-lg;

  &__form {
    min-height: 100%;
    width: 45ch;

    display: flex;
    flex-direction: column;
    gap: $space-md;
  }

  &__form-reason-input {
    flex-grow: 1;
  }

  &__form-button {
    margin-top: auto;
  }

  &__channels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-md;
  }

  &__channel {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    font-family: $font-family-mono;
    font-weight: $font-weight-bold;
    color: $color-on-surface;
    background-color: $color-surface;
  }

  &__channels-label {
    border-bottom: $border-width-thin solid $color-on-surface;
    padding-bottom: $space-sm;
    margin-bottom: $space-md;
  }
}