@use "../../../styles/index.scss";

.footer {
  $footer-approx-height: 400px;
  
  @extend %layout-row-spread;
      
  max-height: $footer-approx-height;
  width: 100%;
  padding: .4em 1em;
  position: relative;
  z-index: 1;

  @extend %border-3d;

  background-color: var(--color-surface-base);

  transition: 
    max-height 0.5s ease,
    padding 0.5s ease,
    opacity 0.3s ease;



  &__controls-group {
    @extend %layout-row-spread;
    gap: 1em;
  }

  &--hidden {
    max-height: 0;
    padding: 0;
    
    overflow: hidden;
    opacity: 0;
  }
}