@use "../../styles/tokens" as tokens;

.home-view {
  width: min-content;
  
  &__content {
    display: flex;
    gap: tokens.$space-xl;
    padding: tokens.$space-xl tokens.$space-2xl;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 22rem;
  }

  &__title {
    font-size: clamp(tokens.$font-size-xl, 5vw, 2.25rem);
    font-weight: tokens.$font-weight-bold;
    margin-bottom: tokens.$space-sm;
    line-height: 1.1;
  }

  &__subtitle {
    border-bottom: tokens.$border-width-thin solid var(--color-on-surface);
    padding-bottom: tokens.$space-md;
    margin-bottom: tokens.$space-md;

    font-size: tokens.$font-size-md;
    font-weight: tokens.$font-weight-bold;
    letter-spacing: 1px;
  }

  &__description {
    flex-grow: 1;
    line-height: 1.5rem;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: tokens.$space-md;
    flex-wrap: wrap;
    margin-top: tokens.$space-sm;
  }

  &__image-container {
    padding: tokens.$space-md;
    padding-bottom: tokens.$space-2xl;
    background-color: var(--color-surface);
  }

  &__image {
    width: 13.4rem;
    border: tokens.$border-width-thin solid var(--color-on-surface);
  }
}