@import "../../styles/tokens";
@import "../../styles/mixins";
@import "../../styles/placeholders";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; 
  max-height: 48px;
  transition: max-height 0.3s ease;
  overflow-y: hidden;

  background-color: $color-surface-highest;
  border-top: $border-width-thin solid $color-on-surface;
  user-select: none;
  z-index: 20;

  &__controls-panel, &__status-panel {
    display: flex;
    align-items: center;
    gap: $space-sm;

    height: 100%;
    padding-left: $space-md;
    padding-right: $space-md;

    border: none;
  }

  &__controls-panel {
    @include retro-bevel-border(left);
  }

  &__status-panel {
    @include retro-bevel-border(right);
  }

  &__time-display, &__telemetry-display {
  	box-sizing: border-box;

    @extend %retro-footer-display;
  }

  &--full-screen {
    max-height: 0;
  }
}

%retro-footer-display {
  height: $space-xl;
  padding-left: $space-sm;
  padding-right: $space-sm;
  
  @extend %retro-display;

  gap: $space-xs;
}