@import "../../styles/tokens";

$bar-width: 4px;
$bar-gap: 3px;

.gauss-plot {
  width: 5rem;
  height: 1rem;
  position: relative;
  overflow: hidden;

  &__curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    height: 100%;

    background-image: repeating-linear-gradient(
      90deg,
      $color-secondary 0,
      $color-secondary $bar-width,
      transparent $bar-width,
      transparent calc($bar-width + $bar-gap)
    );

    transform-origin: bottom center;

    animation:
      pulseHeight 4s steps(12) infinite,
      pulseMove 12s linear infinite;
  }
}

@keyframes pulseHeight {
  0% {
    transform: scaleY(0.15);
  }

  12% {
    transform: scaleY(0.8);
  }

  25% {
    transform: scaleY(0.25);
  }

  38% {
    transform: scaleY(1.8);
  }

  50% {
    transform: scaleY(0.35);
  }

  65% {
    transform: scaleY(1.1);
  }

  78% {
    transform: scaleY(0.2);
  }

  90% {
    transform: scaleY(0.7);
  }

  100% {
    transform: scaleY(0.15);
  }
}

@keyframes pulseMove {
  from {
    translate: 0 0;
  }

  to {
    translate: -33.333% 0;
  }
}